html, body{
  font-family: 'Belgrano-serif';
  max-width: 100%;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Colors */
body{
  background-color: #D4F1F4;
}

header{
  background-color: #05445E;
  color: #D4F1F4;
}

#form{
  background-color: #189AB4;
}

button{
  border-style: none;
  background-color: rgb(255, 145, 0);
  font-size: 100%;
  border-style: none;
  border-radius: 4px;
  margin: 6px auto;
  padding: 8px 12px;
}

header{
  width: 100%;
  height: 20%;
  text-align: center;
}

h1{
  font-size: 300%;
}

#form-btn{
  margin: 0.67em 0;
}

.form_container{
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  visibility: visible;
  opacity: 1;
  scale: 1;
  transition: opacity 0.2s, scale 0.3s;
}

form{
  border: 2px solid black;
  margin: auto;
  height: 320px;
  width: 200px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.hidden{
  visibility: hidden;
  opacity: 0;
  scale: 1;
  transition: opacity 0.2s, scale 0.3s;
}

#form-header{
  text-align: left;
  flex: 1;
  position: relative;
}

#form-main{
  flex: 4;
}

h2{
  font-size: 20px;
  margin: auto 0;
  height: 100%;
  align-items: center;
  display: flex;
  align-items: center;
  padding-left: 2px;
}

#cancel-form{
  position: absolute;
  background-color: transparent;
  color: rgb(255, 145, 0);;
  top: 0;
  right: 0;
  margin: 0;
  font-weight: bolder;
  scale: 1;
  transition: scale 0.1s;
}

#cancel-form:hover{
  scale: 1.4
}

.form-grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 4px;
}

.form-grid > label{
  display: flex;
  width: 100%;
}

label{
  margin: auto 2px auto 2px;
  font-size: 100%;
}

input{
  padding: 4px;
  border-radius: 4px;
  border-style: none;
}

input:focus{
  outline: rgb(0, 102, 255) solid 2px;
}

#radio{
  display: flex;
  justify-content: space-between;
}

.radio{
  flex: 2;
  text-align: right;
}

label > p{
  margin: 0;
  color: red;
  font-weight: lighter;
  padding-right: 2px;
}

label[for='title']{
  justify-content: space-between;
}

label[for='read']{
  flex: 1;
}

#submit{
  display: block;
  font-size: 100%;
  border-style: none;
  border-radius: 4px;
  margin: auto;
  padding: 8px 12px;
  
}

section{
  width: 100%;
  min-height: 79.2vh;
  height: fit-content;
  position: relative;
}

#table-grid{
  display: grid;
  grid-template-rows: 1fr;
  width: 60%;
  height: 100%;
  margin: auto;
}

.table-div{
  display: flex;
  border-bottom: 1px solid black;
}

.table-header-div{
  display: flex;
  border-bottom: 1px solid black
}

.table{
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-around;

}

.table{
  font-size: auto;
  height: fit-content;
}

.table-title{
  flex: 3;
}

.table-author{
  flex: 2;
}

.table-number,
.table-read,
.table-remove{
  flex: 1;
}



.table-remove{
  position: relative;
}

.remove-btn{
  background-color: red;
  color: black;
  padding: 8px 6px;
}

.read-btn{
  background-color: #05445E;
  color: white;
}

.table-read,
.table-remove{
  position: relative;
}

.table-read > button,
.table-remove > button{
  margin: 0;
  position: absolute;
  top: -8px;
}